<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-pink.css">
</head>
<nav>
    <a href="/quotes/new">Write your own quote</a>
</nav>

<body>
    <% quotes.forEach(quote=> { %>
        <div class="w3-card-4">
            <div class="w3-container w3-theme w3-card">
                <h1>Quotes</h1>
            </div>
            <div class="card-body">

                <blockquote class="blockquote mb-0">

                    <p><a href="/quotes/<%= quote._id %>">
                            <%=quote.quote %>
                        </a></p>
                    <footer class="blockquote-footer">
                        <%= quote.name%>
                    </footer>
                </blockquote>
            </div>

        </div>
        <div class="w3-container w3-text-theme">
            <h2>w3-text-theme</h2>
        </div>


        <blockquote class="blockquote mb-0">

            <p><a href="/quotes/<%= quote._id %>">
                    <%=quote.quote %>
                </a></p>
            <footer class="blockquote-footer">
                <%= quote.name%>
            </footer>
        </blockquote>


        <ul class="w3-ul w3-border-top">
            <li class="w3-theme-l5">
                <a class="w3-button w3-xlarge w3-circle w3-theme-action"
                    style="position:fixed;top:48px;right:24px;">+</a>
                <p>w3-theme-l5 (w3-theme-light)</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme-l4">
                <p>w3-theme-l4</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme-l3">
                <p>w3-theme-l3</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme-l2">
                <p>w3-theme-l2</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme-l1">
                <p>w3-theme-l1</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme">
                <p>w3-theme</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme-d1">
                <p>w3-theme-d1</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme-d2">
                <p>w3-theme-d2</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme-d3">
                <p>w3-theme-d3</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme-d4">
                <p>w3-theme-d4</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
            <li class="w3-theme-d5">
                <p>w3-theme-d5 (w3-theme-dark)</p>
                <blockquote class="blockquote mb-0">
      
                    <p><a href="/quotes/<%= quote._id %>"><%=quote.quote %></a></p>
                    <footer class="blockquote-footer"><%= quote.name%></footer>
                  </blockquote>
            </li>
        </ul>
        </div>
        <% }) %>


</body>

</html>