<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        body {
            background-color: rgb(227, 199, 218);
           
        }
        img {
            height: 600px;
            width:600px;
          padding-left: 400px;
     
        }
        form {
            position: relative;
        }
        h2, h3{
          text-align: center;
        }
        div {
          text-align: center;
        }
     
  
    </style>
  </head>
  <body>
    <nav>

      <a href="/quotes">Back to home page</a>
    </nav>

    <img src="<%=quote.img%>">
    <h2>'<%=quote.quote%>'</h2>
      <h3>- <%= quote.name%></h3>



    <br />
    <div class="btn-btn">
    <form action="/quotes/<%= quote._id%>?_method=DELETE" method="post">
        <input type="submit" value="DELETE">

    </form>
    
    <button><a href= "/quotes/<%=quote._id%>/edit">EDIT</a></button> <br>
      </div>
 

  </body>
</html>